.btn-black {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.carousel-indicators > button.carousel-ind-btn {
  background-color: silver;
  width: 16px;
  height: 8px;
  border-radius: 50%;
}
.carousel-indicators > button.carousel-ind-btn.active {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 166, 0, 0.726),
    rgba(255, 255, 0, 0.726)
  );
  width: 32px;
}
.carousel-section {
  position: relative;
}
.bg-img-2 {
  position: absolute;
  transform: translate(-115%, -100%);
  width: calc(100vw - 93vw);
  background-size: contain !important;
  background-position: center !important;
}
.carousel-img-1 {
  display: inline-block;
  max-width: 6%;
  background-position: center;
  background-size: contain;
}
.carousel-img-2 {
  display: inline-block;
  max-width: 92%;
  background-size: contain;
}
.products-section>.col>.card{
  border: none;
  border-radius: 15px;
  box-shadow: 3px 6px 7px rgb(192, 192, 192);
  text-align: center;
}
.products-section>.col>.card>.card-body>p{
  margin-bottom: 30px;
}