.btn-black {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.carousel-indicators > button.carousel-ind-btn {
  background-color: silver;
  width: 16px;
  height: 8px;
  border-radius: 70%;
}
.carousel-indicators > button.carousel-ind-btn.active {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 166, 0),
  rgb(255, 255, 0)
  );
  width: 32px;
}
.carousel-section {
  position: relative;
}
.bg-img-2 {
  position: absolute;
  transform: translate(-115%, -100%);
  width: calc(100vw - 93vw);
  background-size: contain !important;
  background-position: center !important;
}
.carousel-img-1 {
  display: inline-block;
  max-width: 6%;
  background-position: center;
  background-size: contain;
}
.carousel-img-2 {
  display: inline-block;
  max-width: 92%;
  background-size: contain;
}
.products-section>.col>.card{
  border: none;
  border-radius: 15px;
  box-shadow: 3px 6px 7px rgb(192, 192, 192);
  text-align: center;
}
.products-section>.col>.card>.card-body>p{
  margin-bottom: 30px;
}
.categories-style{
    border-radius: 15px;
    box-shadow: 1px 3px 3px rgb(192 192 192);
    padding: 20px 0px;
}
.cat-img{
  max-width: 150px;
  display: inherit;
  margin: 0 auto;
}
.bag-cat{
  flex-grow: 1;
}
#categories>.cat-psuedo{
  text-align: center;
  margin-top: 120px;
}
#categories>.cat-psuedo::after{
  content: "";
  background-image: linear-gradient(to bottom,
  rgb(255, 166, 0),
  rgb(255, 255, 0));
  border-radius: 15px;
  width: 70px;
  height: 5px;
  position: absolute;
  display: block;
  margin-top: 5px;
  left:50%;
  transform: translate(-50%,0);
}
.categories-style>h5{
  text-align: center;
  margin-top: 10px;
}